@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.click-btn {
    cursor: pointer;
}

.hoa {
    text-align: center;
    justify-self: center;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px;
    font-family: Helvetica;
    animation: fadeIn 1s ease-in;
}

.content-hidden {
    display: none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    animation: fadeIn 1s ease-in;
}
.content-hidden {
    text-align: center;
    justify-self: center;
    border-radius: 15px;
    background-color: #ff42d0;
    padding: 20px;
    font-family: Helvetica;
    animation: fadeIn 1s ease-in;
    position: relative;
    z-index: 5;
}
.text-card {
    font-size: 18px;
    color: #333333;
    background-color: #e877ff;
    padding: 15px;
    border-radius: 10px;
}
body {
    background-color: #ffc6ee;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 5px;
    color: #666666;
}